
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<h3>Tobias Engberg</h3>
<p>Grustagsgatan 7</p>
<p>352 41 Växjö</p><br/>

<p>073-0588290</p>
<a href="mailto:tobias.engberg@exilic.se">tobias.engberg@exilic.se</a><br/>
<a href="https://www.linkedin.com/in/tobiasengberg/">https://www.linkedin.com/in/tobiasengberg/</a>