
@{
    ViewData["Title"] = "Home Page";
}

<h1>The Index</h1>

<p>Are you feeling a bit awkward at the moment? Then you are advised to evaluate your temperature in our new service: @Html.ActionLink("Check Your Fever!", "FeverCheck", "Services")</p>

<p>If you feel more like playing, go enjoy this fun guessing game: @Html.ActionLink("Who could have guessed!!", "GuessingGame", "Services")</p>